* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    width: inherit;
    height: inherit;
    background-color: #BA7517;
}

header img{
    width: 18%;
    height: 18%;
}

